<div class="col-sm-6">
    <div class="shop-view">
        <div class="left-column">
            <h3>Starbucks</h3>
            <p>3452 Washington Ave</p>
        </div>
        <div class="right-column">
            <p>$4.56</p>
        </div>
    </div>
</div>
