@import 'colors';
@import 'fonts';
@import 'variables';

.moreInfoContainer {
	display: flex;
	flex-direction: row;
	padding-left: 12px;
	padding-right: 12px;
	background-color: $light-grey;
	border-color: $medium-grey;
	border-radius: $rounding;
	border-width: 1px;
	border-style: solid;
	margin-bottom: 24px;
	margin-left: 12px;
	margin-right: 12px;
	padding: 15px 24px;
	overflow: hidden;
	transition: all 0.2s ease-in-out;

	.left-column {
		flex: 2 0 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		min-width: 0;
		/* or some value */

		h3 {
			color: $off-black;
			font-size: 1.125em;
			font-weight: 400;
			margin-bottom: 4px;
			white-space: nowrap;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		p {
			color: $dark-grey;
			font-size: 0.875em;
			margin-bottom: 0;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.right-column {
		flex: 0 0 55px;

		p {
			text-align: right;
			color: $off-black;
			font-size: 1em;
			margin-bottom: 0;
			padding-top: 14px;
			padding-bottom: 14px;
		}
	}
}
